@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme="dark"] {
  --color-scheme: dark;
  --primary: #661ae6;
  --primary-content: #ffffff;
  --secondary: #d926aa;
  --secondary-content: #ffffff;
  --accent: #1fb2a5;
  --accent-content: #ffffff;
  --neutral: #2a323c;
  --neutral-focus: #242b33;
  --neutral-content: #a6adbb;
  --base-100: #1d232a;
  --base-200: #191e24;
  --base-300: #15191e;
  --base-content: #a6adbb;
}

[data-theme="light"] {
  --color-scheme: light;
  --primary: #570df8;
  --primary-content: #e0d2fe;
  --secondary: #f000b8;
  --secondary-content: #ffd1f4;
  --accent: #1ecebc;
  --accent-content: #07312d;
  --neutral: #2b3440;
  --neutral-content: #d7dde4;
  --base-100: #ffffff;
  --base-200: #f2f2f2;
  --base-300: #e5e6e6;
  --base-content: #1f2937;
}

[data-theme] {
  background-color: var(--base-100);
  color: var(--base-content);
}

body,
html {
  height: 100%;
  margin: 0;
}

#__next,
#root {
  height: 100%;
}

.input {
  @apply border border-base-content border-opacity-0 bg-base-100 rounded-md text-base-content;
  @apply flex-shrink;
  @apply h-12 px-4 text-sm leading-loose;

  &-primary {
    @apply border-primary;
    &:focus {
      @apply outline-primary;
    }
  }

  &-error {
    @apply border-red-300;
    &:focus {
      @apply outline-red-300;
    }
  }
  &-disabled,
  &-md {
    @apply h-12 px-4 text-sm leading-loose;
  }
}

.btn {
  @apply font-semibold no-underline gap-2;
  @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center border-transparent text-center transition duration-200 ease-in-out rounded-md;
  @apply h-12 px-4 text-sm min-h-12;
  line-height: 1em;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  &:active:hover,
  &:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97));
  }

  &-disabled,
  &[disabled],
  &:disabled {
    @apply pointer-events-none;
  }

  & {
    @apply border-base-200 bg-base-200 text-base-content no-underline outline-base-content;
    @media (hover: hover) {
      &:hover {
        @apply border-base-300 bg-base-300 text-base-content;
      }
    }
    &-active {
      @apply border-base-300 bg-base-300;
    }
    &:focus-visible {
      @apply outline outline-2 outline-offset-2;
    }
  }

  &-primary {
    @apply border-primary bg-primary text-primary-content outline-primary;
  }

  /* disabled */
  &-disabled,
  &[disabled],
  &:disabled {
    @apply border-opacity-0 bg-neutral bg-opacity-20 text-base-content text-opacity-20;
  }
  @media (hover: hover) {
    &-disabled:hover,
    &[disabled]:hover,
    &:disabled:hover {
      @apply border-opacity-0 bg-neutral bg-opacity-20 text-base-content text-opacity-20;
    }
  }
}
@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.98));
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.table {
  @apply relative w-full;
  :where(.table-pin-rows thead tr) {
    @apply sticky top-0 bg-base-100 z-[1];
  }
  :where(.table-pin-rows tfoot tr) {
    @apply sticky bottom-0 bg-base-100 z-[1];
  }
  :where(.table-pin-cols tr th) {
    @apply sticky left-0 right-0 bg-base-100;
  }

  @apply text-left rounded-md text-sm;
  :where(th, td) {
    @apply px-4 py-3 align-middle border-b min-w-[150px] max-w-[200px] overflow-hidden text-ellipsis whitespace-nowrap;
  }
  tr.active,
  tr.active:nth-child(even),
  &-zebra tbody tr:nth-child(even) {
    @apply bg-base-200;
  }
  tr.hover,
  tr.hover:nth-child(even) {
    @apply [@media(hover:hover)]:hover:bg-base-200;
  }

  &-zebra {
    tr.active,
    tr.active:nth-child(even),
    &-zebra tbody tr:nth-child(even) {
      @apply bg-base-300;
    }
  }
  &-zebra tr.hover,
  &-zebra tr.hover:nth-child(even) {
    @apply [@media(hover:hover)]:hover:bg-base-300;
  }

  :where(thead, tbody) {
    :where(tr:not(:last-child)),
    :where(tr:first-child:last-child) {
      @apply border-b border-b-base-200;
    }
  }

  :where(thead, tfoot) {
    @apply text-xs font-bold text-base-content whitespace-nowrap;
  }
}
.table-scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.table-scroll::-webkit-scrollbar-thumb {
  @apply bg-base-300 rounded-md;
}
.table-scroll::-webkit-scrollbar-track {
  @apply bg-base-content rounded-md;
}

.loading {
  @apply pointer-events-none w-6 aspect-square inline-block;
  background-color: currentColor;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-in-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.loading-spinner {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-in-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.loading-dots {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_qM83%7Banimation:spinner_8HQG 1.05s infinite%7D.spinner_oXPr%7Banimation-delay:.1s%7D.spinner_ZTLf%7Banimation-delay:.2s%7D@keyframes spinner_8HQG%7B0%25,57.14%25%7Banimation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)%7D28.57%25%7Banimation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)%7D100%25%7Btransform:translate(0)%7D%7D%3C/style%3E%3Ccircle class='spinner_qM83' cx='4' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_oXPr' cx='12' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_ZTLf' cx='20' cy='12' r='3'/%3E%3C/svg%3E");
}
.loading-ring {
  mask-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='%23fff'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.loading-ball {
  mask-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_rXNP%7Banimation:spinner_YeBj .8s infinite%7D@keyframes spinner_YeBj%7B0%25%7Banimation-timing-function:cubic-bezier(0.33,0,.66,.33);cy:5px%7D46.875%25%7Bcy:20px;rx:4px;ry:4px%7D50%25%7Banimation-timing-function:cubic-bezier(0.33,.66,.66,1);cy:20.5px;rx:4.8px;ry:3px%7D53.125%25%7Brx:4px;ry:4px%7D100%25%7Bcy:5px%7D%7D%3C/style%3E%3Cellipse class='spinner_rXNP' cx='12' cy='5' rx='4' ry='4'/%3E%3C/svg%3E");
}

.loading-xs {
  @apply w-4;
}
.loading-sm {
  @apply w-5;
}
.loading-md {
  @apply w-6;
}
.loading-lg {
  @apply w-10;
}
.skeleton {
  @apply bg-base-300 rounded-md;
  will-change: background-position;
  animation: skeleton 1.8s ease-in-out infinite;
  background-image: linear-gradient(
    105deg,
    transparent 0%,
    transparent 40%,
    theme(colors.base-100) 50%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-position-x: -50%;
}
@media (prefers-reduced-motion) {
  .skeleton {
    animation-duration: 15s;
  }
}
@keyframes skeleton {
  from {
    background-position: 150%;
  }
  to {
    background-position: -50%;
  }
}
